<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.whdreamblog.mockhelper">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".mock.MockRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.V7.MockAppTheme"
            />
        <activity
            android:name=".mock.MockDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.V7.MockAppTheme"
            />
        <activity
            android:name=".main.DevelopMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.V7.MockAppTheme"
            />
    </application>

</manifest>